<div fxLayoutAlign="center center" class="center-screen">
    <mat-card ngClass="login-box" class="mat-elevation-z8" style="height: 70% !important;">
      <div fxLayout="column" fxLayoutAlign="space-evenly none" style="height: 100%;">
        <div fxLayout="column" fxLayoutAlign="space-evenly center">
          <img mat-card-image style="width: 300px;" src="assets/logo-full.svg">
          <h1>Changes password</h1>
          <mat-card-content style="padding-top: 25px">
            <div *ngIf="passwordMatchError">
              Password does not match
            </div>
            <form [formGroup]="registerForm" (submit)="onSubmit()">
              <p>
                <mat-form-field appearance="outline" style="width: 100%;">
                  <mat-label> {{"register.email" | translate}}</mat-label>
                  <input [(ngModel)]="email" formControlName="email" type="text" matInput required>
                  <!-- <mat-error *ngIf="user">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
              </p>
  
              <p>
                <mat-form-field appearance="outline" style="width: 100%;">
                  <mat-label> {{"register.password" | translate}} </mat-label>
                  <input ngModel formControlName="password" [type]="hide ? 'password' : 'text'" matInput
                    placeholder="password">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
              </p>
  
              <p>
                <mat-form-field appearance="outline" style="width: 100%;">
                  <mat-label> {{"register.confirm_password" | translate}} </mat-label>
                  <input ngModel formControlName="confirm_password" [type]="hide ? 'password' : 'text'" matInput
                    placeholder="confirm_password">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
              </p>
  
              <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
                <div>
                  <mat-form-field appearance="outline">
                    <mat-label> {{"register.first_name" | translate}}</mat-label>
                    <input ngModel formControlName="first_name" type="text" matInput required>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field appearance="outline">
                    <mat-label> {{"register.last_name" | translate}}</mat-label>
                    <input ngModel formControlName="last_name" type="text" matInput required>
                  </mat-form-field>
                </div>
              </div>
  
              <div style="margin-bottom: 8%; margin-top: 5%; border-radius: 15px;">
                <button type="submit" mat-raised-button style="width: 100%; background-color: #5B78FA; color: white;">
                  {{"register.save"|translate}} </button>
              </div>
            </form>
          </mat-card-content>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-form-field fxFlex="30" style="font-size: 12px;">
            <mat-select (selectionChange)="onSelectLanguage($event.value)" [(ngModel)]="selectedValue" name="name">
              <mat-option *ngFor="let language of Languages" [value]="language.value">
                <span>{{language.viewValue}}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <button mat-button style="font-size: 12px"> {{"register.terms" | translate}} </button>
        </div>
      </div>
    </mat-card>
  </div>